<div class="col-sm-12 col-lg-12 col-md-12">
    <div class="thumbnail">
        <div class="col-md-6 col-sm-12">
            <img style="width: 100%" src="http://lorempixel.com/200/150/{{ itemInCart.category }}/{{ itemInCart.id }}" alt="">
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="caption">
                <h3>{{ itemInCart.name | capitalize}}</h3>
                <p>net: {{ itemInCart.price }} zł</p>
                <p>vat: {{ (itemInCart.tax - 1) *100 }} %</p>
                <h4>{{ itemInCart.grossPrice }} zł</h4>
                in stock: <p class="pull-right">{{ itemInCart.quantity }}</p>
            </div>
        </div>

        {% include 'ShopBundle:Shop:Cart/Form/removeFromCart.html.twig' %}
    </div>
</div>