{% extends 'ShopBundle::base.html.twig' %}

{% block mainContainer -%}

    <div class="row">
        <div class="items-list col-xs-12 col-sm-6 col-md-8">
            <h2>Items list</h2>
            {% for item in items %}
                {% include 'ShopBundle:Shop:item.html.twig' %}
            {% endfor %}
        </div>
        <div class="cart-items-list col-xs-6 col-md-4">
            <div style="margin: 25px 0">
            <h2 style="display: inline">Cart</h2>
            <a class="btn btn-default btn-danger pull-right" href="{{ path('cart_remove_all') }}">Remove all</a>
            </div>
            <div class="row">
                <h4>Standard vat:</h4>
                {% for itemInCart in cart.getItemsGroupedByVat.standard_vat %}
                    {% include 'ShopBundle:Shop:Cart/item.html.twig' %}
                {% endfor %}
            </div>
            <div class="row">
                <h4>Reduced vat:</h4>
                {% for itemInCart in cart.getItemsGroupedByVat.reduced_vat %}
                    {% include 'ShopBundle:Shop:Cart/item.html.twig' %}
                {% endfor %}
            </div>
            <div class="row summary">
                <h4>Summary: </h4>
                <p>total price for standard vat items: {{ cart.totalStandardVatItemsPrice }} zł</p>
                <p>total price for reduced vat items: {{ cart.totalReducedVatItemsPrice }} zł</p>
                <h4>total: <u>{{ cart.totalPrice }} zł</u></h4>
            </div>
        </div>
    </div>
{% endblock %}