<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="http://lorempixel.com/200/150/{{ item.category }}/{{ loop.index }}" alt="">

        <div class="caption">
            <h3><u>{{ item.name |capitalize }}</u></h3>
            <h4>category: {{ item.category  }}</h4>
            <p>gross: {{ item.grossPrice }} zł ({{ (item.tax - 1) *100 }} % vat) </p>
            in stock: <p class="pull-right">{{ item.quantity }}</p>
        </div>

        {% include 'ShopBundle:Shop:Cart/Form/addToCart.html.twig' %}
    </div>
</div>