<form method="post" action="{{ path("cart_add_item") }}">
    <input type="hidden" name="itemID" value="{{ item.id }}">
    <input class="btn btn-default btn-success" type="submit" value="Add to cart">
</form>

