<form method="post" action="{{ path("cart_remove_item") }}">
    <input type="hidden" name="itemID" value="{{ itemInCart.id }}">
    <input class="btn btn-default btn-danger" type="submit" value="Remove">
</form>

