{% extends '::base.html.twig' %}

{% block stylesheets -%}
    {{ parent() }}
{% endblock %}
{% spaceless %}
    {% block body %}
        <!-- Navigation -->
        <nav class="nnavbar navbar-inverse">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('shop') }}">Shop</a>

                </div>
            </div>
            <!-- /.container -->
        </nav>
        <!-- Page Content -->
        <div class="container">
            {% block mainContainer %}{% endblock %}
        </div>

        <div class="container">

            <hr>

            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">

                    </div>
                </div>
            </footer>

        </div>
        <!-- /.container -->
    {% endblock %}
{% endspaceless %}